/* 整个页面容器 */
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 900px;
    padding: 20px;
    margin: 0 auto;
  }
  
  /* 仪表板容器 */
  .dashboard {
    flex: 1;
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .dashboard h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* 文章部分容器 */
  .article-section {
    flex: 2;
    padding: 20px 0px;
    background-color: #fafafa;
    border-radius: 10px;
    padding: 20px 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1); /* 这里定义阴影效果 */

  }
  
  /* 文章选项卡容器 */
  .article-tabs {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .tab-button {
    padding: 10px 20px;
    margin-right: 25px;
    background-color: transparent; /* 设置背景透明 */
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid transparent; /* 添加一个透明边框 */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* 添加过渡效果 */
  }
  
  .tab-button:hover {
    color: #2f54eb; /* 鼠标悬停时的文字颜色 */
  }
  
  /* 文章列表容器 */
  .article-list {
    display: grid;
    grid-template-columns: 1fr; /* 每行只显示一个文章元素 */
    gap: 20px;
    max-height: 1300px;
    overflow-y: auto;
  }
  
  .article-card {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 15px;
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* 添加阴影和 transform 的动画效果 */
  }
  
  .article-card:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 鼠标悬停时的阴影效果 */
    transform: translateY(-5px); /* 向上浮动效果 */
  }
  
  
  
  .article-card h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .article-card p {
    font-size: 14px;
    color: #555;
    margin: 0;
  }
  
/* 分页容器 */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  /* 页数按钮样式 */
  .page {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  /* 当前页的按钮样式 */
  .active-page {
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: default;
  }

   /* 侧边栏容器 */
   .sidebar {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    position: fixed; /* 固定位置 */
    top: 30%; /* 从顶部20px处开始 */
    right: 5%; /* 从右侧20px处开始 */
    width: 300px; /* 设置宽度 */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); /* 这里定义阴影效果 */
  }
  

  .sidebar h2 {
    color: #2f54eb;
    margin-top: -5px;
    font-size: 24px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
  }
  
  .popular-articles {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .popular-articles p{
    display: inline-block;
    margin-right: 15px;
    color: #fa541c;
  }
  
  .popular-articles li{
    padding: 0px 5px;
    width: 100%;
    border-radius: 7px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    border-bottom-left-radius: 0px;
  }

  
  .popular-articles li:hover {
    background-color: #f5f5f5;
  }
  