
   /* 侧边栏容器 */
   .sidebar {
    flex: 1;
    background-color: white;
    padding: 20px;
    padding-bottom: 5px;
    border-radius: 5px;
    position: absolute; /* 固定位置 */
    top: 30%; /* 从顶部20px处开始 */
    right: 5%; /* 从右侧20px处开始 */
    width: 300px; /* 设置宽度 */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); /* 这里定义阴影效果 */
    user-select: none;
  }
  

  .sidebar h2 {
    color: #2f54eb;
    font-size: 24px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    margin: 0px;
  }
  
  .popular-articles {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .popular-articles p:first-child{
    display: inline-block;
    margin-right: 15px;
    color: #fa541c;
  }

  .popular-articles p:last-child{
    display: inline-block;
    margin-right: 15px;
    font-weight: lighter;
    font-size: 14px;
  }
  
  .popular-articles li{
    padding: 0px 5px;
    width: 100%;
    border-radius: 7px;
    text-decoration: none;
    color: black;
    font-weight: medium;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 0px;
    display: flex;
  }
  
  .popular-articles li:last-child{
    border: 0px;
  }

  .popular-articles li:hover {
    background-color: #f5f5f5;
  }
  
  @media screen and (max-width: 1900px) {
    .sidebar {
      width: 250px; /* 适应屏幕宽度 */
      right: 1%; /* 从右侧0处开始 */
      top: 30%; /* 从顶部0处开始 */
      padding: 10px; /* 调整内边距 */
    }
    
    .sidebar h2 {
      font-size: 20px; /* 调整标题字体大小 */
    }
    

    .popular-articles p:first-child,
    .popular-articles p:last-child {
      display: block; /* 将排列改为块状以适应小屏幕 */
      margin-right: 0;
    }

    .popular-articles p:first-child{
      margin-right: 10px;
    }
    
    .popular-articles li a {
      display: flex;
    }
  }